body{
	background-color:blue;
	margin:20px;
	font.font-family:arial;
}
#titlu-principal{
	cobr:
	text-align-content:coster;
	margin:0;
}
.img-profil{
	height:200px;
	width:200px;
	display:black;
	border-radius:50%;
	opacity:0.8;
}